{% extends 'base.html' %}

{% block title %} Purchase History {% endblock %}

{% block css %}
<style>
    .table-grid {
        width: 80%;
        margin: 30px auto;
    }
</style>
{% endblock %}

{% block body %}

<h2 class="page-heading">Purchase History</h2>

<div style="display: flex; justify-content: center; gap: 10px;">
    <a href="{% url 'create_purchase_view' %}" class="primary-button">Create Purchase</a>
    <a href="{% url 'home' %}" class="primary-button">Go to Home</a>
</div>

<div class="table-grid">

    <div class="primary-table" style="grid-column: span 1;">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Mode</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                <tr>
                    <td>{{ item.date|date:"Y-m-d" }}</td>
                    <td>{{ item.stockset.name }}</td>
                    <td>{{ item.fund.name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price_per_unit }}</td>
                    <td>{{ item.net_total_price }}</td>
                    <td>
                        <a href="{% url 'edit_purchase' item.pk %}">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}