#addToHomeScreenContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 100%;
  max-width: 400px;
  transform: translateX(-50%) translateY(100%);
  z-index: 1000;
  padding: 10px;
  transition: transform 0.3s ease;
  /* Add a transition for smooth sliding */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#addToHomeScreenContainer.show {
  transform: translateX(-50%) translateY(0);
  /* Slide up to its position */
}

.btn-close:focus, .btn-dark:focus {
  box-shadow: none;
}